@media (max-width:767px) and (min-width:630px)
{
	#navbuttons{
		padding-left: 80px;
	}
	#logo{
		padding-left:80px;
	}
}
@media (max-width:600px) and (min-width:500px)
{
	#navbuttons{
		padding-left: 50px;
	}
	#logo{
		padding-left:50px;
	}
}


